@font-face {
  font-family: JetBrains Mono;
  src: url("../fonts/fonts/ttf/JetBrainsMono-Regular.ttf");
}
.header {
  background-color: #292929;
  width: 100%;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 0;
}
.header__logo {
  width: 9.375rem;
}
.header__menu {
  display: none;
}
@media screen and (max-width: 750px) {
  .header__menu {
    display: block;
  }
}
.header__btn {
  background-color: #292929;
}
.header__svg {
  color: white;
  width: 2.1875rem;
}
@media screen and (max-width: 750px) {
  .header__nav {
    display: none;
  }
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__li {
  list-style: none;
}
.header__link {
  text-decoration: none;
  font-family: JetBrains Mono;
  color: white;
  font-weight: bold;
  padding: 0.1875rem 0.3125rem;
  transition: 0.3s;
}
.header__link:hover {
  background-color: white;
  border-radius: 3.125rem;
  color: black;
}

.sidebar {
  background-color: #292929;
  display: none;
  position: fixed;
  z-index: 9999;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.5s ease;
}
@media screen and (max-width: 750px) {
  .sidebar {
    display: block;
  }
}
.sidebar__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.sidebar__menu {
  background-color: #313131;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.9375rem 0;
}
.sidebar__btn {
  background-color: #313131;
  margin: 0 0.9375rem 0 0;
}
.sidebar__svg {
  color: white;
  width: 2.1875rem;
}
.sidebar__links {
  width: 100%;
  padding: 0 0 0 0.9375rem;
}
.sidebar__ul {
  list-style: none;
}
.sidebar__li {
  margin: 1.25rem 0;
}
.sidebar__link {
  font-family: JetBrains Mono;
  color: white;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.portada {
  background-color: #292929;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .portada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.portada__info {
  max-width: 35.25rem;
  padding: 1.25rem;
}
.portada__nombre {
  font-family: JetBrains Mono;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0 0.9375rem 0;
  color: white;
}
.portada__carrera {
  font-family: JetBrains Mono;
  word-break: break-all;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.1875rem;
  color: white;
  margin: 0 0 1.5625rem 0;
}
@media screen and (max-width: 750px) {
  .portada__imgcontent {
    display: none;
  }
}
.portada__img {
  max-width: 18.75rem;
  max-height: 18.75rem;
  border-radius: 50%;
}
.portada__svg {
  color: black;
}
.portada__btn {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  color: black;
  font-family: JetBrains Mono;
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: 0.3s ease all;
  display: inline-block;
}
.portada__btn:hover {
  background-color: rgb(199, 199, 199);
}
.portada__btn:active {
  transform: scale(0.95);
}

.skills {
  background-color: #313131;
  display: flex;
  flex-direction: column nowrap;
}
.skills__content {
  width: 100%;
  margin: 3.125rem 0;
}
.skills__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 2.5rem 0;
}
.skills__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.skills__li {
  list-style: none;
  text-decoration: none;
  font-family: JetBrains Mono;
  color: white;
  font-weight: bold;
  padding: 0.1875rem 0.3125rem;
  transition: 0.3s;
  cursor: pointer;
}
.skills__li:hover {
  background-color: white;
  border-radius: 3.125rem;
  color: black;
}
.skills__tittle {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: JetBrains Mono;
  color: white;
}
@media screen and (max-width: 750px) {
  .skills__tittle {
    text-align: center;
    font-size: 1.875rem;
  }
}
.skills__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  margin: 0.625rem;
  min-width: 9.375rem;
  min-height: 9.375rem;
}
.skills__span {
  color: white;
  font-family: JetBrains Mono;
  padding: 0.9375rem 0 0 0;
}
.skills__img {
  max-width: 3.75rem;
  object-fit: scale-down;
}

.experiencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
.experiencia__content {
  margin: 3.125rem 0;
}
.experiencia__title {
  font-size: 2.5rem;
  text-align: end;
  font-weight: bold;
  font-family: JetBrains Mono;
  color: white;
  padding: 0 0 2.5rem 0;
}
@media screen and (max-width: 750px) {
  .experiencia__title {
    text-align: center;
    font-size: 1.875rem;
  }
}
.experiencia__trabajos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .experiencia__trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.experiencia__trabajo {
  padding: 0.9375rem;
  font-family: JetBrains Mono;
  color: white;
}
@media screen and (max-width: 750px) {
  .experiencia__trabajo {
    text-align: center;
  }
}
.experiencia__titletrabajo {
  font-size: 1.875rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
}
.experiencia__cargo {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
}
.experiencia__tiempo {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
}
.experiencia__text {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.1875rem;
  padding-bottom: 0.75rem;
}
.experiencia__location {
  font-size: 1.25rem;
  font-weight: bold;
}

.contacto {
  background-color: #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto__content {
  margin: 3.125rem 0;
  width: 100%;
}
.contacto__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: JetBrains Mono;
  color: white;
  padding: 0 0 2.5rem 0;
}
.contacto__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contacto__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 3.75rem;
  width: 3.75rem;
  padding: auto;
  text-decoration: none;
  border-radius: 50%;
  border: white solid 0.125rem;
  cursor: pointer;
  transition: 0.5s ease all;
}
.contacto__link:hover {
  transform: scale(1.2);
}
.contacto__link:active {
  transform: scale(0.95);
}
.contacto__link.linkedin:hover {
  background-color: #0e76a8;
}
.contacto__link.dribbble:hover {
  background-color: #EA4C89;
}
.contacto__link.whatsapp:hover {
  background-color: #25D366;
}
.contacto__link.gmail:hover {
  background-color: #CC3C2F;
}
.contacto__linkgradiant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #292929;
  height: 3.75rem;
  width: 3.75rem;
  text-decoration: none;
  border-radius: 50%;
  border: white solid 0.125rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease all;
}
.contacto__linkgradiant:hover {
  transform: scale(1.2);
}
.contacto__linkgradiant:active {
  transform: scale(0.95);
}
.contacto__linkgradiant::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(circle at top left, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.contacto__linkgradiant:hover::before {
  opacity: 1;
}
.contacto__svg {
  color: white;
  width: 2.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  padding: 0.625rem 0;
}
.footer__text {
  font-family: JetBrains Mono;
  color: white;
}

.header--fixed-top {
  position: fixed;
  top: 0rem;
}
.header__link--active {
  background-color: white;
  border-radius: 3.125rem;
  color: black;
}

.sidebar--open {
  width: 50%;
}
.sidebar--close {
  width: 0;
}

.skills__li--active {
  background-color: white;
  border-radius: 3.125rem;
  color: black;
}
.skills__items--active {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 1.25rem;
}

.wrapper {
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

/*# sourceMappingURL=estilos.css.map */
