@import 'base/variables';

@import 'base/fonts';

@import 'layout/mixins';

@import 'modules/navigation';

@import 'modules/sidebar';

@import 'modules/portada';

@import 'modules/skills';

@import 'modules/experiencia';

@import 'modules/contacto';

@import 'modules/footer';

@import 'other/modifer-header';

@import 'other/modifer-sidebar';

@import 'other/modifer-skills';

*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 1.25rem;
}

.wrapper{
    width: 90%;
    max-width: 100rem;
    margin: auto;
}