$bg-black-primary : #292929;
$bg-black-secondary : #313131;
$color-text-white: white;

@font-face{
    font-family: JetBrains Mono;
    src: url('../fonts/fonts/ttf/JetBrainsMono-Regular.ttf');
}




*{
    padding: 0px;
    margin: 0px;
    font-family: JetBrains Mono;
}

.btnmenu{
    background: #292929;
    color: #ffffff; 
    border: none;
}

.content--info{
    height: 350px;
}

.navigation{
    background: $bg-black-primary;
    padding: 10px 15px 10px 15px;
}

.navigation{
    a{
        font-weight: 800;
        color: $color-text-white;
    }
}

.imgyo{
    width: 150px;
}

/**************/

.content-sobremi{
    /*display: flex;
    align-items: center;
    justify-content: space-around;*/
    
    background: $bg-black-primary;
    color: $color-text-white;
    padding: 15px 15px 15px 15px;
}



.sobremi__text{
    font-weight: 800;
    font-size: 40px;
}

.sobremi__text2{
    word-break: break-all;
    font-weight: 700;
    font-size: 24px;
}

.sobremi__content__img{
    img{
        width: 250px;
        height: 250px;
    }
}

/************/

.content-skill{
    height: 350px;
    background: $bg-black-secondary;
    color: $color-text-white;
    padding: 15px 15px 15px 15px;
}

.content-skill__text{
    font-weight: 800;
    /*font-size: 35px;*/
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    letter-spacing: 0.25em;
}

.content-skill__options{
    a{
        color: $color-text-white;
    }
}

/*********************/

.content-experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $bg-black-secondary;
    color: $color-text-white;
    padding: 15px 15px 15px 15px;
}

/*.content-experiencia__title{
    text-align: end;
    padding-right: 73px;
    padding-left: 73px;
}*/

.content-experiencia__text{
    font-weight: 800;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    letter-spacing: 0.25em;
}

.content-experiencia__info{
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 15px;
}

.experiencia__info-bold{
    font-weight: 800;
}

/*********************/

.content-redes{
    background: $bg-black-secondary;
    color: $color-text-white;
    padding: 15px 15px 15px 15px;
}

.icon-gmail{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' id='footer-sample-full' width='2em' height='2em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' class='iconify iconify--material-symbols'%3E%3Cpath fill='currentColor' d='M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm8-7L4 8v10h16V8Zm0-2l8-5H4ZM4 8V6v12Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.icon-whatsapp{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' id='footer-sample-full' width='2em' height='2em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' class='iconify iconify--ic'%3E%3Cpath fill='currentColor' d='M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.text-link--white{
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    color: #ffffff;
    text-decoration-line: none;
}

/*********************/


footer{
    height: 40px;
    background: $bg-black-primary;
    .content-footer{
        p{
            padding-top: 10px;
            color: $color-text-white;
            text-align: center;
        }
    }
}
