//fonts
$font-jetbrains: JetBrains Mono;
//background
$bg-black-primary : #292929;
$bg-black-secondary : #313131;
$bg-white: white;
//bordercolor
$bd-color-white: white;
//color text
$color-text-white: white;
$color-text-black: black;
//especial
$width-icon-contacto: 2.5rem;
